@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Fonts
font-family: 'Otomanopee One', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/

#accountpage {
    margin: 0px 50px;
    padding: 50px;
    text-align: center;
}

img {
    width: 200px;
    margin: 100px 0px 20px 0px;
}

h2 {
    font-family: 'Poppins', sans-serif;
}

#info {
    width: 50%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

p {
    text-align: left;
}