@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Fonts
font-family: 'Otomanopee One', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/

footer {
    background-color: #2b2d42;
    color: #f7f7f9;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    box-shadow: 0 3px 20px grey;
    width: 100%;
}

#footerlogo {
    font-family: 'Otomanopee One', sans-serif;
    color: white;
}

ul {
    display: flex;
    justify-content: space-evenly;
}

li {
    text-decoration: none;
    list-style-type: none;
    font-size: 25px;
    margin: 0px 15px;
    color: white;
    transition: 0.3s;
}

li:hover {
    text-decoration: underline;
    color: grey;
}